webfont('Genath', 'GenathRegular')

text()
	font-family Genath, Times New Roman, serif

// Main font styles

::selection
	background alpha($secondary, 0.5)

::-moz-selection
	background alpha($secondary, 0.5)

body,html
	-webkit-text-size-adjust 100%

html
	font-size 16px
	+below($md)
		font-size 12px

body
	text()
	font-size $normal
	line-height 1
	// text-rendering optimizeLegibility
	font-smoothing()

p
	line-height inherit
	&:not(:last-child)
		margin-bottom 1em

.uppercase
	text-transform uppercase

.text-center
	text-align center

nav#menu a, #project-description, #about-description
	line-height 1.2

#project-medias .caption, #contact, #credits, #right-nav
	font-size $normal
