{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-template-literals",
    "@babel/plugin-transform-block-scoping",
    "@babel/plugin-transform-arrow-functions"
  ]
}
