[submodule "kirby"]
	path = kirby
	url = git://github.com/getkirby/kirby.git
[submodule "panel"]
	path = panel
	url = git://github.com/getkirby/panel.git
[submodule "toolkit"]
	path = kirby/toolkit
	url = git://github.com/getkirby/toolkit.git
[submodule "site/fields/builder"]
	path = site/fields/builder
	url = https://github.com/TimOetting/kirby-builder.git
[submodule "site/plugins/kirby-panel-prevnext"]
	path = site/plugins/kirby-panel-prevnext
	url = https://github.com/jenstornell/kirby-panel-prevnext
[submodule "site/plugins/imagekit"]
	path = site/plugins/imagekit
	url = https://github.com/fabianmichael/kirby-imagekit.git
[submodule "site/plugins/images"]
	path = site/plugins/images
	url = https://github.com/medienbaecker/kirby-images.git
[submodule "site/plugins/typography"]
	path = site/plugins/typography
	url = https://github.com/fabianmichael/kirby-typography.git
