.DS_Store
Thumbs.db
yarn.lock
yarn-error.log
/lib
www/assets/fonts/*
www/assets/build/*
/node_modules
/npm-debug.log
www/site/cache
www/site/config/cloudinary.php
www/site/config/licence.php

# Ignored by file in folder
# www/media/*
# www/site/accounts
# www/site/sessions