// ==========================================================================
// Colors
// ==========================================================================

$plyr-color-main: #fff !default;
$plyr-color-gunmetal: #fff !default;
$plyr-color-fiord: #fff !default;
$plyr-color-lynch: #fff !default;
$plyr-color-heather: #fff !default;
