// ==========================================================================
// Progress
// ==========================================================================

// Loading
$plyr-progress-loading-size: 0px !default;
$plyr-progress-loading-bg: #fff !default;

// Buffered
$plyr-video-progress-buffered-bg: #fff !default;
$plyr-audio-progress-buffered-bg: #fff !default;
