// ==========================================================================
// Tooltips
// ==========================================================================

$plyr-tooltip-bg: transparent !default;
$plyr-tooltip-color: $plyr-color-fiord !default;
$plyr-tooltip-padding: ($plyr-control-spacing / 2) !default;
$plyr-tooltip-arrow-size: 0px !default;
$plyr-tooltip-radius: 0px !default;
$plyr-tooltip-shadow: 0 !default;
