@keyframes plyr-progress {
  to {
    background-position: 5px 0; } }
.plyr {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 100%;
  min-width: 200px;
  font-family: "BABE", Avenir, "Avenir Next", "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  direction: ltr; }
  .plyr,
  .plyr *,
  .plyr *::after,
  .plyr *::before {
    box-sizing: border-box; }
  .plyr a, .plyr button, .plyr input, .plyr label {
    touch-action: manipulation; }
  .plyr:focus {
    outline: 0; }
  .plyr video,
  .plyr audio {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: inherit; }
  .plyr input[type='range'] {
    display: block;
    height: 2rem;
    width: 100%;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    border: none;
    background: transparent; }
    .plyr input[type='range']::-webkit-slider-runnable-track {
      height: 1px;
      background: transparent;
      border: 0;
      border-radius: 0.5px;
      user-select: none; }
    .plyr input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none;
      margin-top: -1rem;
      position: relative;
      height: 2rem;
      width: 1px;
      background: var(--plasma-color);
      border: 0px solid transparent;
      transition: background .2s ease, border .2s ease, transform .2s ease;
      box-shadow: none;
      box-sizing: border-box; }
    .plyr input[type='range']::-moz-range-track {
      height: 1px;
      background: transparent;
      border: 0;
      border-radius: 0.5px;
      user-select: none; }
    .plyr input[type='range']::-moz-range-thumb {
      position: relative;
      height: 2rem;
      width: 1px;
      background: var(--plasma-color);
      border: 0px solid transparent;
      transition: background .2s ease, border .2s ease, transform .2s ease;
      box-shadow: none;
      box-sizing: border-box; }
    .plyr input[type='range']::-ms-track {
      height: 1px;
      background: transparent;
      border: 0;
      color: transparent; }
    .plyr input[type='range']::-ms-fill-upper {
      height: 1px;
      background: transparent;
      border: 0;
      border-radius: 0.5px;
      user-select: none; }
    .plyr input[type='range']::-ms-fill-lower {
      height: 1px;
      background: transparent;
      border: 0;
      border-radius: 0.5px;
      user-select: none;
      background: var(--plasma-color); }
    .plyr input[type='range']::-ms-thumb {
      position: relative;
      height: 2rem;
      width: 1px;
      background: var(--plasma-color);
      border: 0px solid transparent;
      transition: background .2s ease, border .2s ease, transform .2s ease;
      box-shadow: none;
      box-sizing: border-box;
      margin-top: 0; }
    .plyr input[type='range']::-ms-tooltip {
      display: none; }
    .plyr input[type='range']:focus {
      outline: 0; }
    .plyr input[type='range']::-moz-focus-outer {
      border: 0; }
    .plyr input[type='range'].tab-focus:focus {
      outline-offset: 3px; }
    .plyr input[type='range']:active::-webkit-slider-thumb {
      background: transparent;
      border-color: var(--plasma-color);
      transform: scale(1); }
    .plyr input[type='range']:active::-moz-range-thumb {
      background: transparent;
      border-color: var(--plasma-color);
      transform: scale(1); }
    .plyr input[type='range']:active::-ms-thumb {
      background: transparent;
      border-color: var(--plasma-color);
      transform: scale(1); }

.plyr__sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute !important;
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important; }

.plyr__video-wrapper {
  position: relative;
  border-radius: inherit;
  height: 100%;
  cursor: none !important; }

.plyr__video-embed {
  height: 100%;
  overflow: hidden;
  border-radius: inherit;
  z-index: 0; }
  .plyr__video-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    user-select: none; }
  .plyr__video-embed > div {
    position: relative;
    height: 100%; }

.plyr .plyr__video-embed iframe {
  pointer-events: none; }

.plyr video::-webkit-media-text-track-container {
  display: none; }

.plyr__captions {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  transform: translateY(-30px);
  transition: transform .3s ease;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 400; }
  .plyr__captions span {
    border-radius: 2px;
    padding: 1px 5px;
    background: rgba(0, 0, 0, 0.7);
    box-decoration-break: clone;
    line-height: 150%; }
  .plyr__captions span:empty {
    display: none; }
  @media (min-width: 768px) {
    .plyr__captions {
      font-size: 3rem; } }

.plyr--captions-active .plyr__captions {
  display: block; }

.plyr--hide-controls .plyr__captions {
  transform: translateY(-10px); }

@media (min-width: 1024px) {
  .plyr--fullscreen-active .plyr__captions {
    font-size: 3rem; } }
.plyr ::-webkit-media-controls {
  display: none; }

.plyr__controls {
  display: flex;
  align-items: center;
  line-height: 1;
  text-align: center; }
  .plyr__controls > button,
  .plyr__controls .plyr__progress,
  .plyr__controls .plyr__time {
    margin-left: 2.5px; }
    .plyr__controls > button:first-child,
    .plyr__controls .plyr__progress:first-child,
    .plyr__controls .plyr__time:first-child {
      margin-left: 0; }
  .plyr__controls .plyr__volume {
    margin-left: 2.5px; }
  .plyr__controls [data-plyr="pause"] {
    margin-left: 0; }
  .plyr__controls button {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    overflow: visible;
    vertical-align: middle;
    padding: 3.5px;
    border: 0;
    background: transparent;
    border-radius: 3px;
    cursor: pointer;
    transition: background .3s ease, color .3s ease, opacity .3s ease;
    color: inherit; }
    .plyr__controls button svg {
      width: 5px;
      height: 5px;
      display: block;
      fill: currentColor; }
    .plyr__controls button:focus {
      outline: 0; }
  .plyr__controls .icon--exit-fullscreen,
  .plyr__controls .icon--muted,
  .plyr__controls .icon--captions-on {
    display: none; }
  @media (min-width: 480px) {
    .plyr__controls > button,
    .plyr__controls .plyr__progress,
    .plyr__controls .plyr__time {
      margin-left: 5px; } }

.plyr--hide-controls .plyr__controls {
  opacity: 0;
  pointer-events: none; }

.plyr--video .plyr__controls {
  position: absolute;
  left: 10rem;
  right: 2rem;
  bottom: 2rem;
  background: transparent;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  color: var(--plasma-color);
  transition: opacity .3s ease; }
  .plyr--video .plyr__controls button.tab-focus:focus, .plyr--video .plyr__controls button:hover {
    background: transparent;
    color: var(--plasma-color); }

.plyr--audio .plyr__controls {
  padding: 5px;
  border-radius: inherit;
  background: white;
  border: 1px solid #dbe3e8;
  color: #565D64; }
  .plyr--audio .plyr__controls button.tab-focus:focus, .plyr--audio .plyr__controls button:hover {
    background: transparent;
    color: white; }

.plyr__play-large {
  display: none;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  background: transparent;
  border: 0px solid currentColor;
  border-radius: 100%;
  color: var(--plasma-color);
  transition: all .3s ease; }
  .plyr__play-large svg {
    position: relative;
    left: 2px;
    width: 30px;
    height: 30px;
    display: block;
    fill: currentColor; }

.plyr .plyr__play-large {
  display: inline-block; }

.plyr--audio .plyr__play-large {
  display: none; }

.plyr--playing .plyr__play-large {
  opacity: 0;
  visibility: hidden; }

.plyr__controls [data-plyr='pause'],
.plyr--playing .plyr__controls [data-plyr='play'] {
  display: none; }

.plyr--playing .plyr__controls [data-plyr='pause'] {
  display: inline-block; }

.plyr--fullscreen-active .icon--exit-fullscreen,
.plyr--muted .plyr__controls .icon--muted,
.plyr--captions-active .plyr__controls .icon--captions-on {
  display: block; }
  .plyr--fullscreen-active .icon--exit-fullscreen + svg,
  .plyr--muted .plyr__controls .icon--muted + svg,
  .plyr--captions-active .plyr__controls .icon--captions-on + svg {
    display: none; }

.plyr [data-plyr='captions'],
.plyr [data-plyr='fullscreen'] {
  display: none; }

.plyr--captions-enabled [data-plyr='captions'],
.plyr--fullscreen-enabled [data-plyr='fullscreen'] {
  display: inline-block; }

.plyr__tooltip {
  position: absolute;
  z-index: 2;
  top: 70%;
  margin-bottom: 2.5px;
  pointer-events: none;
  opacity: 0;
  background: transparent;
  border-radius: 3px;
  color: var(--plasma-color);
  font-size: 1.5rem;
  line-height: 1.3; }
  .plyr__tooltip::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: -4px;
    border-right: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid transparent;
    z-index: 2; }

.plyr button:hover .plyr__tooltip,
.plyr button.tab-focus:focus .plyr__tooltip,
.plyr__tooltip--visible {
  opacity: 1;
  transform: translate(-50%, 0) scale(1); }

.plyr button:hover .plyr__tooltip {
  z-index: 3; }

.plyr__controls button:first-child .plyr__tooltip {
  left: 0;
  transform: translate(0, 10px) scale(0.8);
  transform-origin: 0 100%; }
  .plyr__controls button:first-child .plyr__tooltip::before {
    left: 6px; }

.plyr__controls button:last-child .plyr__tooltip {
  right: 0;
  transform: translate(0, 10px) scale(0.8);
  transform-origin: 100% 100%; }
  .plyr__controls button:last-child .plyr__tooltip::before {
    left: auto;
    right: 6px;
    transform: translateX(50%); }

.plyr__controls button:first-child:hover .plyr__tooltip, .plyr__controls button:first-child.tab-focus:focus .plyr__tooltip,
.plyr__controls button:first-child .plyr__tooltip--visible,
.plyr__controls button:last-child:hover .plyr__tooltip,
.plyr__controls button:last-child.tab-focus:focus .plyr__tooltip,
.plyr__controls button:last-child .plyr__tooltip--visible {
  transform: translate(0, 0) scale(1); }

.plyr__progress {
  display: none;
  position: relative;
  flex: 1;
  padding: 2rem 0; }
  .plyr__progress input[type="range"] {
    position: relative;
    z-index: 2; }
    .plyr__progress input[type="range"]::-webkit-slider-runnable-track {
      background: transparent; }
    .plyr__progress input[type="range"]::-moz-range-track {
      background: transparent; }
    .plyr__progress input[type="range"]::-ms-fill-upper {
      background: transparent; }
  .plyr__progress .plyr__tooltip {
    left: 0; }

.plyr .plyr__progress {
  display: inline-block; }

.plyr__progress--buffer,
.plyr__progress--played,
.plyr__volume--display {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  margin: -0.5px 0 0;
  padding: 0;
  vertical-align: top;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none; }
  .plyr__progress--buffer::-webkit-progress-bar,
  .plyr__progress--played::-webkit-progress-bar,
  .plyr__volume--display::-webkit-progress-bar {
    background: transparent; }
  .plyr__progress--buffer::-webkit-progress-value,
  .plyr__progress--played::-webkit-progress-value,
  .plyr__volume--display::-webkit-progress-value {
    background: currentColor;
    min-width: 1px; }
  .plyr__progress--buffer::-moz-progress-bar,
  .plyr__progress--played::-moz-progress-bar,
  .plyr__volume--display::-moz-progress-bar {
    background: currentColor;
    min-width: 1px; }

.plyr__progress--played,
.plyr__volume--display {
  z-index: 1;
  color: var(--plasma-color);
  background: transparent;
  transition: none; }
  .plyr__progress--played::-webkit-progress-value,
  .plyr__volume--display::-webkit-progress-value {
    min-width: 1px;
    max-width: 99%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: none; }
  .plyr__progress--played::-moz-progress-bar,
  .plyr__volume--display::-moz-progress-bar {
    min-width: 1px;
    max-width: 99%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: none; }
  .plyr__progress--played::-ms-fill,
  .plyr__volume--display::-ms-fill {
    display: none; }

.plyr__progress--buffer::-webkit-progress-value {
  transition: width .2s ease; }
.plyr__progress--buffer::-moz-progress-bar {
  transition: width .2s ease; }
.plyr__progress--buffer::-ms-fill {
  transition: width .2s ease; }

.plyr--video .plyr__progress--buffer,
.plyr--video .plyr__volume--display {
  background: var(--plasma-color); }

.plyr--video .plyr__progress--buffer {
  color: var(--plasma-color); }

.plyr--audio .plyr__progress--buffer,
.plyr--audio .plyr__volume--display {
  background: rgba(0, 0, 0, 0.67); }

.plyr--audio .plyr__progress--buffer {
  color: rgba(0, 0, 0, 0.67); }

.plyr--loading .plyr__progress--buffer {
  animation: plyr-progress 1s linear infinite;
  background-size: 5px 5px;
  background-repeat: repeat-x;
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);
  color: transparent; }

.plyr--video.plyr--loading .plyr__progress--buffer {
  background-color: var(--plasma-color); }

.plyr--audio.plyr--loading .plyr__progress--buffer {
  background-color: rgba(0, 0, 0, 0.67); }

.plyr__time {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5rem; }

.plyr__time + .plyr__time {
  display: none; }
  @media (min-width: 768px) {
    .plyr__time + .plyr__time {
      display: inline-block; } }
  .plyr__time + .plyr__time::before {
    content: '\2044';
    margin-right: 5px; }

.plyr__volume {
  display: none; }

.plyr .plyr__volume {
  flex: 1;
  position: relative; }
  .plyr .plyr__volume input[type="range"] {
    position: relative;
    z-index: 2; }
  @media (min-width: 480px) {
    .plyr .plyr__volume {
      display: block;
      max-width: 60px; } }
  @media (min-width: 768px) {
    .plyr .plyr__volume {
      max-width: 100px; } }

.plyr--is-ios .plyr__volume,
.plyr--is-ios [data-plyr='mute'] {
  display: none !important; }

.plyr--fullscreen-active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 10000000;
  background: #000;
  border-radius: 0 !important; }
  .plyr--fullscreen-active video {
    height: 100%; }
  .plyr--fullscreen-active .plyr__video-wrapper {
    height: 100%;
    width: 100%; }
  .plyr--fullscreen-active .plyr__controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }
  .plyr--fullscreen-active.plyr--vimeo .plyr__video-wrapper {
    height: 0;
    top: 50%;
    transform: translateY(-50%); }

/*# sourceMappingURL=plyr.css.map */
