header
	position fixed
	top 0
	left 0
	width 'calc((100% - %s) / 2)' % ($space*2)
	margin $space $space 0
	padding $padding
	border-top 1px solid currentColor
	transform-origin top left
	z-index 300
	+below($xl)
		width 'calc((100% - %s) * 2/3)' % ($space*2)
	+below($md)
		width 'calc(100% - %s)' % ($space*2)
	&.expanded, &:hover
		width 'calc(100% - %s)' % ($space*2)
	&::before, &::after
		content ''
		position absolute
		top 0
		height ($padding*3)
		width 1px
		background currentColor
		transition height 400ms $kinetic
	&::before
		left 0
	&::after
		right 0
	&>*
		transition opacity 200ms ease
	&.disabled
		pointer-events none
		&>*
			opacity 0
		&::before, &::after
			height 0

body:not(.is-loading)
	header
		transition width 300ms ease

#menu-categories, #menu-projects
	& > a, & > div
		float left
		width 100%

// #menu-projects
// 	& > a, & > div
// 		float left
// 		width 50%
