nav#menu
	a
		display block
		// line-height 1.2
		&.project
			// background yellow
			margin-bottom 1em
			margin-top -1em
			&:first-child
				margin-top 1em

header
	padding $space
	position fixed



