body, html
	span(1)
	background $primary
	color $secondary
	min-height 100vh

*
	box-sizing border-box
	touch-action manipulation
	-webkit-tap-highlight-color rgba(0,0,0,0)
	-webkit-tap-highlight-color transparent
	&:not(input)
		// hideselect()

video::-webkit-media-controls
	display none

video::-webkit-media-controls-play-button {}

video::-webkit-media-controls-volume-slider {}

video::-webkit-media-controls-mute-button {}

video::-webkit-media-controls-timeline {}

video::-webkit-media-controls-current-time-display {}

a, a:visited
	color inherit
	text-decoration none
	cursor pointer

.hidden
	display none

.lazy
	opacity 0
	transition opacity 200ms ease
	&.no-fade
		transition opacity 0ms ease

.lazy-blur
	transition filter 150ms ease
	filter: blur(5px)

.lazy, .lazy-blur
	&.lazyloaded, &.flickity-lazyloaded
		opacity 1
		filter: none
		& ~ .mask
			opacity 0

#container
	position relative

main, #container, #page-content
	span(1)

.row
	display block
	width 100%
	float left

#page-content
	margin-top $space-above
	+below($md)
		margin-top $space-above-mobile
	& > section.section--blocks-items:first-child
		min-height calc(100vh - 37rem)
	& > section.section:first-child:nth-last-child(2)
		min-height calc(100vh - 37rem)

[event-target]
	cursor pointer

.hidden
	visibility hidden

body.is-loading
	overflow hidden
	cursor wait
	#container
		pointer-events none

