[data-theme=palette-1]
  body, html
    background #ad00af
    color #ffff99

[data-theme=palette-2]
  body, html
    background #ffff99
    color #0043c9

[data-theme=palette-3]
  body, html
    background #db90a2
    color #34523a

[data-theme=palette-4]
  body, html
    background #0043c9
    color #ffed00

[data-theme=palette-5]
  body, html
    background #34523a
    color #009de0

[data-theme=palette-6]
  body, html
    background #f10047
    color #ffff99
