[page-type=project]
	&.idle
		header:not(:hover) *
			opacity 0
	header *
		transition opacity 200ms ease
	footer
		position absolute
		bottom 15rem
		#about-title
			bullet()
		&:not(.opened)
			pointer-events none
			#about-header
				pointer-events auto

.project-header
	#menu-categories, #project-title, #project-description, #project-credits
		span(1/4)
		&:not(:first-child)
			padding-left ($content-space/2)
	#menu-categories:hover
		.bullet.active:not(:hover)
			&::after
				background transparent
	.nav-page
		position absolute
		top $padding
		right $padding
		.close-page
			// display block
			display none
			clear both
			text-align right
		.previous-page, .next-page
			margin 0 .1em
			&:last-child
				margin-right 0
