#related
  span(1)
  // background $gray
  color $secondary
  margin-top $content-space
  // margin-bottom ((($padding*1.5 + $padding*2) + 2rem) * 2)
  .related-header
    span(1)
    span(1/2, $offset: 1/2)
    padding ($padding*1.5) $space ($padding*2) ($content-space/2)
    // padding $padding $space $padding ($space+$padding)
    display flex
    +below($md)
      span(1)
      padding $padding $space
    div:first-child
      flex 1
  .related-pages
    span(1)
    width auto
    display flex
    height 15rem
    overflow hidden
    overflow-x scroll
    .related-page
      flex 0 0 auto
      position relative
      width 10rem
      overflow hidden
      transition opacity 200ms ease, width 300ms ease, padding 300ms ease
      opacity 0.6
      .related-title
        position absolute
        top 0
        left 0
        width 100%
        padding $padding ($padding*2)
        opacity 0
        z-index 11
        // white-space nowrap
      &:first-child
        .related-title
          padding-left ($space+$padding)
      &:hover
        width 20rem
        padding 0 $padding
        opacity 1
        &:first-child
          padding-left 0
        &:last-child
          padding-right 0
        .related-title
          opacity 1
          transition opacity 200ms ease
    .responsive-image, .plyr, .plyr__video-wrapper
      height 100%
      width auto
    .plyr__poster
      background-size auto 100%
    .ph
      display none
    img, video
      height 100%
      width auto
      // object-fit cover
      // font-family 'object-fit: cover'
