@import 'nib'
@import 'jeet'
@import '_mixins'

// Media queries
$xxl = 1900px
$xl = 1600px
$lg = 1260px
$md = 1023px
$sm = 767px

// Colors
$primary ?= #fff
$secondary ?= #000
$accent ?= #ff0000
$gray ?= #424242

// Metrics
$padding = 1rem
$padding-x = 1rem
$padding-y = 1rem
$content-space = 1rem
$kinetic = cubic-bezier(0.77, 0, 0.175, 1)
$kinetic-smooth = cubic-bezier(0.7, 0, 0.3, 1)

//font size
$fs-normal = 1rem
$fs-small = 0.5rem
$fs-large = 2rem

// CSS Reset
global-reset()

.dev{outline:1px solid #912eff}
.dev > * {outline:1px solid #5497ff}
.dev > * > * {outline:1px solid #51feff}
.dev > * > * > * {outline:1px solid #ff0000}
.dev > * > * > * * {outline:1px solid #00ff00}

// @import 'font.css'
// @import 'components/_utils'
@import 'components/_animations'
@import 'fonts/fonts'
@import 'components/_main'
@import 'components/_outdated'
@import 'components/_loader'
@import 'components/_header'
@import 'components/_footer'
@import 'components/_pages'
@import 'pages/index'
@import 'blocks/index'
